@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background: #211832;
    font-family: IBM-Plex-Sans, sans-serif;
    margin: 0;
    text-align: center;
}

header {
    color: white;
    padding: 2em;
    font-size: 2.5em;
    font-weight: 700;
}

main {
    margin: 2em auto;
    max-width: 100%;
    background: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0.5em 2em #bbb2;
}

model-viewer {
    width: 100%;
    height: 600px;
    background: #eef;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.instructions {
    margin: 0 0 1.5em 0;
    color: #444;
    font-size: 1.15em;
}

.Hotspot {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 2px solid #ffffffa8;
    background-color: transparent;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
    --min-hotspot-opacity: 0;
}

.Hotspot:hover {
    background-color: #ffffffa8;
}

.HotspotAnnotation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 5px;
    align-self: stretch;
    white-space: nowrap;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    background: rgba(158, 158, 158, 0.8);
    backdrop-filter: blur(2.5px);
    color: white;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
    display: none;
}
