@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --off-white: rgb(232, 231, 235);
    --text: rgb(79, 81, 83);
    --qnips-green: #01ff98;
    --qnips-accent: #6cd999;
}

html {
    font-size: 100%;
}

body {
    background: #211832;
    font-family: IBM-Plex-Sans, sans-serif;
    margin: 0;
}

header {
    background: #211832;
    padding: 2rem 2.5rem;
    color: var(--off-white);
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
}

.header-title span:first-child {
    color: var(--qnips-green);
}

.header-title span {
    display: block;
}

.booth-location {
    color: var(--qnips-accent);
    letter-spacing: .05em;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 1.5rem;
}

.booth-location span {
    font-weight: 400;
}

.booth-location .pipe {
    margin: 0 0.5rem;
}

/* DESKTOP */
@media (min-width: 1024px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 2.5rem;
        min-height: 140px;
    }

    .header-title {
        font-size: 2.5rem;
        line-height: 1;
        text-align: center;
    }

    .header-title span {
        display: inline;
    }

    .header-title br {
        display: none;
    }

    .booth-location {
        margin-top: 1.0rem;
        font-size: 1.3rem;
        white-space: nowrap;
        text-align: center;
    }
}

main {
    background: var(--off-white);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.block {
    padding: 2rem 2.5rem;
}

@media (min-width: 1024px) {
  .block {
    padding: 4rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.divider {
    display: block;
    margin: 1.5rem 0;
    height: 1px;
    background: #ccc;
}

.info-text {
    line-height: 160%;
    text-align: left;
    color: var(--text);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: calc(var(--index) * 0.2s);
}

@media (min-width: 1024px) {
    .info-text {
        font-size: 1.1rem;
        line-height: 170%;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

model-viewer {
    margin-top: 2rem;
    width: 100%;
    height: 400px;
    background: rgb(213, 215, 219);
    border: 1px solid #c8c8dd;
    border-radius: 0.75rem;
}

@media (min-width: 1024px) {
    model-viewer {
        height: 600px;
        margin-top: 3rem;
        border-radius: 1rem;
    }
}

.instructions {
    margin: 0 0 1.5em 0;
    color: #444;
    font-size: 1.15rem;
    text-align: left;
}

.Hotspot {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    border: 2px solid #ffffffa8;
    background-color: transparent;
    box-sizing: border-box;
    pointer-events: auto;
    cursor: pointer;
    --min-hotspot-opacity: 0;
}

.Hotspot:hover {
    background-color: #ffffffa8;
}

.HotspotAnnotation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 5px;
    align-self: stretch;
    white-space: nowrap;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    background: rgba(158, 158, 158, 0.8);
    backdrop-filter: blur(2.5px);
    color: white;
}

:not(:defined) > * {
    display: none;
}
